* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.building {
  display: flex;
  position: relative;
  background-color: bisque;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}
.roof {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  width: 90%;
  height: 200px;
  border: 1px solid black;
  padding: 0px;
  text-align: center;
  font-size: 4rem;
}
.floor {
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.elevator {
  background-image: url("../assets/elevator.jpg");
  background-size: 100%;
  position: absolute;
  color: #fff;
  text-align: center;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100px;
  height: 100px;
  bottom: 0px;
}

.elevator_container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

.btn-text-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  width: 100px;
  color: white;
  background-color: green;
  font-size: 1.5rem;
}
.floor-number {
  color: #fff;
  background-color: blue;
  width: 100px;
  font-size: 5rem;
  text-align: center;
}
.waiting-time {
  color: #fff;
  background-color: black;
  width: 100px;
  font-size: 2rem;
  text-align: center;
}
